{% extends "base.html" %}
<!-- У записей нет заголовков, выводить нечего -->
{% block title %}Запись {{ user_profile.get_full_name }}{% endblock %} 
{% block header %}Запись {{ user_profile.get_full_name }}{% endblock %}

{% block content %}

<main role="main" class="container">
        <div class="row">
                <div class="col-md-3 mb-3 mt-1">
                        {% include 'user_item.html' %}
                </div>
    
            <div class="col-md-9">
    
                <!-- Пост -->  
                {% include 'post_item.html' with post=post %}
                {% include 'comments.html' %}              
         </div>
        </div>
    </main>

{% endblock %}
