<div class="card">
    <div class="card-body">
        <div class="h2">
                {{user_profile.get_full_name}}
        </div>
        <div class="h3 text-muted">
                @{{user_profile.username}}
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
                <div class="h6 text-muted">
                    {% if followers %}
                        Подписчиков: {{followers}}
                    {% else %} 
                        Подписчиков: 0 
                    {% endif %}  
                    <br>
                    {% if follows %}
                        Подписан: {{follows}}
                    {% else %} 
                        Подписан: 0 
                    {% endif %} 
                </div>
        </li>
        <li class="list-group-item">
                <div class="h6 text-muted">
                    Записей: {{posts_count}}
                </div>
        </li>
        <li class="list-group-item">
                {% if following %}
                <a class="btn btn-lg btn-light" 
                        href="{% url 'profile_unfollow' user_profile.username %}" role="button"> 
                        Отписаться 
                </a> 
                {% elif user_profile.username != user.username%}
                <a class="btn btn-lg btn-primary" 
                        href="{% url 'profile_follow' user_profile.username %}" role="button">
                Подписаться 
                </a>
                {% endif %}
            </li>
    </ul>
</div>
